html, 
body {
  margin: 0px;
  padding: 0px;
}

html body * {
  box-sizing: border-box;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

.nav,
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  background: white;
  width: 100%;
  box-shadow: 0px -11px 29px 0px black;
}

.nav2 {
  padding: 20px;
  box-shadow: 0px 0px 0px 0px transparent;
}

.nav-items ul {
  list-style: none;
  padding: 0px;
  display: flex;
}

.nav-items ul li {
  margin-left: 20px;
  font-size: 30px;
}

.nav-items ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}

.nav-items a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 52px;
  background: #3391f1;
  top: 0;
  left: 0;
  transition: 0.25s all ease;
  transform: translate(0px, -134px) skewx(95deg);
}

.nav-items a:hover:after {
  transition: 0.25s all ease;
  transform: translate(0px, -84px) skewx(0deg);
}

/* Mobile menu */

.nav_mobile {
  box-shadow: inset 0px 25px 30px -35px black, 0px 0px 30px 0px black;
  display: none;
  background-color: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  transform: translate(0%, -100%);
  -webkit-transition: transform 0.5s ease-in-out;
     -moz-transition: transform 0.5s ease-in-out;
      -ms-transition: transform 0.5s ease-in-out;
       -o-transition: transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
}

.nav_mobile.active {
  transform: translate(0%, calc(0% + 155px) );
}

.nav_mobile ul {
  list-style: none;
  padding: 30px;
}

.nav_mobile ul li {
  font-size: 30px;
  margin-bottom: 20px;

}

.nav_mobile ul li a {
  text-decoration: none;
  color: black;
}

/* Hamburger */

.hamburger {
  display: none;
}

.line {
  display: block;
  width: 41px;
  height: 4px;
  background: black;
  margin-bottom: 7px;
  border-radius: 5px;
  pointer-events: none;
}

.content {
  padding: 20px;
}

p {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 500px) {
  .nav-items ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav_mobile {
    display: block;
  }
}
