html,
body {
  height: 100%;
}

html body * {
  box-sizing: border-box;
}

.wrapper {
  background: #c5c5c5;
  box-shadow: 0px 15px 20px -18px black;
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 50px;
  min-height: 100px;
  height: 20%;
  border-radius: 3px;
}

.box {
  height: 50px;
  width: 50px;
  background-color: darkred;
  box-shadow: 0px 15px 15px -18px black;
  transition: 0.5s all ease;
}

.box-chained {
  transition: 0.5s width ease, 0.5s height ease 0.5s;
}

.box-transition:hover {
  height: 100%;
  width: 100%;
}

.box-animated {
  animation: 5s expand-thyself ease-in-out 2 alternate;
}

.box-animated-step {
  animation: 5s expand-thyself steps(15) infinite alternate;
}

.box-animated-listener.active {
  animation: 5s expand-thyself steps(15) 1 alternate;
}

@keyframes expand-thyself {
  50% {
    height: 100%;
    width: 100%;
  }
}
